<nav class="r4sNavbar">
    <a href="https://rollforshoes.com/" target="_blank" class="title">Roll For Shoes</a>
    <div class="navItems">
        <a href="/my-characters">My Characters</a>
        <a href="https://rollforshoes.com/" target="_blank">Rules</a>
        <a href="">Profile</a>
    </div>
</nav>