<%- include("general-partials/header") %>
<section id="loginSignup">
    <div class="titleBlock">
        <div>
            <h1 class="title">Roll for Shoes</h1>
            <h2 class="subTitle">Character Builder</h2>
            <p class="summaryText">Roll for shoes is a simplified d6 TTRPG system where your character grows organically based on choices and good luck. Read the rules <a href="https://rollforshoes.com/" target="_blank">Here</a></p>
        </div>
    </div>
    <div class="contentBlock">
        <div class="infoBlock loginBlock <%= retry %>">
            <form action="/login" method="post">
                <h2 class="subTitle">Username</h2>
                <input type="text" name="username" class="r4sInput" required>
                <h2 class="subTitle">Password</h2>
                <input type="password" name="password" class="r4sInput" required>
                <div class="loginButtons">
                    <p class="errorText">Incorrect Username or Password</p>
                    <div class="r4sCheckAndName">
                        <input type="checkbox" name="rememberMe">
                        <label for="rememberMe">Remember Me</label>
                    </div>
                    <button class="contentBtn" type="submit">Log in</button>
                </div>
            </form>
        </div>
    </div>
    <div class="contentBlock">
        <div class="infoBlock oAuthBlock">
            <a class="oAuthLink" href="/auth/google">
                    <span class="fa-brands fa-google"></span>
                    CONTINUE WITH GOOGLE
            </a>
        </div>
    </div>
    <div class="contentBlock">
        <div class="loginBreak">
            <h1 class="title">Don't Have an Account?</h1>
            <div class="infoBlock oAuthBlock">
                <a class="oAuthLink" href="/register">SIGN UP HERE</a>
            </div>
        </div>
    </div>
</section>
<%- include("general-partials/scripts") %>
<%- include("general-partials/footer") %>