<div class="infoForm">
    <h2 class="subTitle">Name</h2>
    <input class="r4sInput" type="text" name="name" value="<%= character.name %>" maxlength="70" required>
    <h2 class="subTitle">Brief Summary</h2>
    <input class="r4sInput" type="text" name="summary" value="<%= character.summary %>" maxlength="120">
    <h2 class="subTitle">Backstory</h2>
    <textarea class="r4sInput" name="backstory" id="" cols="30" rows="10"><%= character.backstory %></textarea>
</div>