<div class="inputSkillAndDice">
    <input class="r4sInput" type="text" name="itemName" placeholder="Item Name" required>
    <input class="r4sInput" type="text" name="itemDesc placeholder="Description" maxlength="120">
    <div class="formDieContainer">
        <input class="r4sInput" type="number" value="1" name="itemQty" required>
    </div>
</div>