<div class="inputSkillAndDice">
    <input class="r4sInput" type="text" name="skillName" placeholder="Skill Name" required>
    <div class="formDieContainer">
        <input class="r4sInput" type="number" value="2" name="skillDice" required>
        <h2 class="subTitle">d6</h2>
    </div>
</div>